# Ignore datasets except the ones for testing
datasets/
!datasets/test

# Ignore build file contents
build/*

# Cmake output
CMakeFiles
Makefile
CTestTestfile.cmake

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# os
.DS_STORE
.swp*
.vscode

# others
~$*
.ipynb_checkpoints/
env/
*.eps
*.svg
*.png
*.jpeg
*.jpg
