recursive-include cmake *
recursive-include genex *
recursive-include pygenex *
include CMakeLists.txt
recursive-exclude genex .DS_Store
recursive-exclude pygenex .DS_Store
recursive-exclude cmake .DS_Store